/**
	CSS por Daniel Augusto Krug
*/
body{
	margin: 0; 
	padding: 0;
}
header{
	height: 2.5rem;
	font-size: 1.2rem;
	padding-top: .5rem;
	text-transform: uppercase;
}
.header{
	height: 1.8rem;
	font-size: 1rem;
	padding-top: .3rem;
}
header, 
.header{
	text-align: center;
	color: #ff0;
	background-color: #0064ff;
}
nav{
	width: 14rem;
	float: left;
	margin: .4rem 0 0 .4rem;
}
main{
	width: calc(100% - 17rem);
	float: right;
	margin: .4rem .4rem 0 0;
}
nav, 
main{
	border: 1px solid #0064ff;
	border-radius: .3rem;
	min-height: 10rem;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
nav, 
nav ul{
	padding: 0;
	background-color: #ccc;
}
nav ul{
	border-radius: .3rem;
	margin: 0;
}
nav ul li{
	padding-top: .4rem;
	border-bottom: 1px dotted #fff;
}
nav ul li, 
nav ul li span{
	display: block;
	text-align: left;
	font-size: 1rem;
}
nav ul li span{
	padding-left: .5rem;
	text-transform: uppercase;	
}
nav ul li:hover,
nav ul li span:hover,
.active{
	color: #d3fd07;
	background-color: #1360a4;
	cursor: pointer;
}
nav ul li::marker{
	color: transparent;
}
textarea{
	width: 99%;
}
#homeContent,
#aboutContent,
#contactContent,
#seeMoreContent
{
	display: none;
	padding: .3rem;
}
#homeContent h1,
#aboutContent h1,
#contactContent h1,
#seeMoreContent h1
{
	text-align: center;
	line-height: 70%;
}
.news{
	float: left;
	width: 30%;
	margin: 0 0 .2rem .25rem;
	padding: .2rem;
	font-size: .9rem;
	text-align: justify;
}
.news img{
	width: 5rem;
	height: 5rem;
	float: left;
	margin-right: .3rem;
}
.news,
.news img{
	border: 1px solid #0064ff;
	border-radius: .3rem;
}
.author{
	float: left;
	width: 48%;
	min-width: 10rem;
	margin: 0 0 .2rem .25rem;
	padding: .2rem;
	font-size: .9rem;
	text-align: justify;
}
.author img{
	width: 9rem;
	height: 9rem;
	float: left;
	margin-right: .3rem;
}
.author,
.author img{
	border: 1px solid #0064ff;
	border-radius: .3rem;
}
.author .name,
.news .name{
	font-weight: bold;
	text-align: center;
}
.author .name{
	font-size: 1.2rem;
	text-align: left;
	margin-left: .2rem; /** CSS Alterado por: Daniel Augusto Krug */
}
.authorReference{
	text-align: left !important;
}
.clear{
	clear: both;
}
.field{
	float: left;
	margin-right: .2rem;
}
/**
	Fim
	CSS por Daniel Augusto Krug
*/






