/**
	CSS por Daniel Augusto Krug
*/
body{
	margin: 0; 
	padding: 0;
}
iframe{
	border: 0;
}
header{
	height: 2.5rem;
	font-size: 1.2rem;
	padding-top: .5rem;
	text-transform: uppercase;
}
.header{
	height: 1.8rem;
	font-size: 1rem;
	padding-top: .3rem;
}
header, 
.header{
	text-align: center;
	color: #ff0;
	background-color: #0064ff;
}
nav{
	width: 14rem;
	float: left;
	margin: .4rem 0 0 .4rem;
}
main{
	width: calc(100% - 17rem);
	float: right;
	margin: .4rem .4rem 0 0;
}
nav, 
main{
	border: 1px solid #0064ff;
	border-radius: .3rem;
	min-height: 10rem;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
nav, 
nav ul{
	padding: 0;
	background-color: #ccc;
}
nav ul{
	border-radius: .3rem;
	margin: 0;
}
nav ul li{
	padding-top: .4rem;
	border-bottom: 1px dotted #fff;
}
nav ul li, 
nav ul li span{
	display: block;
	text-align: left;
	font-size: 1rem;
	font-family: Roboto;
}
nav ul li span{
	padding-left: .5rem;
	text-transform: uppercase;	
}
nav ul li:hover,
nav ul li span:hover,
.active{
	color: #d3fd07;
	background-color: #1360a4;
	cursor: pointer;
}
nav ul li::marker{
	color: transparent;
}
#homeContent,
#aboutContent,
#contactContent,
#seeMoreContent,
#sensibilityContent,
#empregabilityContent
{
	display: none;
	padding: .3rem;
}
#homeContent h1,
#aboutContent h1,
#contactContent h1,
#seeMoreContent h1,
#sensibilityContent h1, 
#sensibilityContent h3,
#empregabilityContent h1
{
	text-align: center;
	line-height: 100%;
}
#sensibilityContent span,
#empregabilityContent span{
	text-align: justify;
	margin: 0.5rem;
	display: block;
	font-family: Roboto;
}
.news{
	float: left;
	width: 30%;
	margin: 0 0 .2rem .25rem;
	padding: .2rem .2rem .7rem .2rem;
	font-size: .8rem;
	text-align: justify;
	height: 20em;
	overflow: hidden;             
  	text-overflow: "...";
}
.news img{
	width: 5rem;
	height: 5rem;
	float: left;
	margin-right: .3rem;
}
.news,
.news img{
	border: 1px solid #0064ff;
	border-radius: .3rem;
}
/** CSS ajustado por: Ceres Prado */
.author{
	float: left;
	width: 47.5%;
	margin: 0 .18rem .2rem .18rem;
	padding: .2rem .3rem .2rem .3rem;
	font-size: .8rem;
	text-align: justify;
	font-family: Roboto;
}
/** fim CSS ajustado por: Ceres Prado */
.author img{
	width: 9rem;
	height: 9rem;
	float: left;
	margin-right: .3rem;
}
.author,
.author img{
	border: 1px solid #0064ff;
	border-radius: .3rem;
}
.author .name,
.news .name{
	font-weight: bold;
	text-align: center;
}
.author .name{
	font-size: 1.2rem;
	text-align: left;
	margin-left: .2rem; /** CSS Alterado por: Daniel Augusto Krug */
}
.authorReference{
	text-align: left !important;
}
.clear{
	clear: both;
}
.field{
	float: left;
	margin-right: .2rem;
}
.center{
	text-align: center;
}
.w49{
	width: 49%;
}
.w96{
	width: 96%;
}
.w99{
	width: 99%;
}
.buttons{
	padding: 0.3rem 0;	
}
.buttons input{
	cursor: pointer;
}
/**
	Fim
	CSS por Daniel Augusto Krug
*/
/** CSS por: Ceres Prado */
.bluebox{
    	float: left;
	margin: 0 0 .2rem .25rem;
	padding: .2rem;
	width: 92%;
    	text-align: center;
    	border: 1px solid #609af5;
    	border-radius: .3rem;
    	background-color: #1282a4;
}
/** fim CSS por: Ceres Prado */

@media only screen and (max-width: 1000px) {
	nav{
		width: 100%;
		display: block;
		margin: 0 0 .3rem  0;
		padding: 0 0 .2rem  0;
		background-color: #1c73bf;
	}
	main{
		width: 100%;
		display: block;
		display: block;
		margin: 0;
	}
	nav, 
	main{
		border: 0;
		border-radius: 0;
		min-height: auto;
	}
	nav .header,
	main .header{
		display: none;
	}
	nav ul{
		border-radius: 0;
		margin: 0;
	}
	nav ul li{
		padding: 0 .1rem .1rem .1rem;
		border-radius: .2rem;
		border: 0;
		float: left;
		margin-left: .2rem;
		text-decoration: underline;
		color: #d0f614;
		background-color: #1c73bf;
	}
	nav ul li, 
	nav ul li span{
		display: inline;
	}
	nav ul li span{
		border-radius: .2rem;
		padding: .1rem .3rem;
	}
	nav ul li:hover,
	nav ul li span:hover,
	.active{
		color: #d3fd07;
		background-color: #093d6a;
	}
	#contactForm{
		padding: .3rem .5rem;
	}
	#contactForm,
	#seeMoreContent{
		border: 1px solid #0064ff;
		border-radius: .3rem;
		margin: .3rem;
	}
	.news{
		width: 47%;
		font-size: .85rem;
	}
/** CSS por: Ceres Prado */
	.bluebox{
		width: 96%;
	}
/** fim CSS por: Ceres Prado */
}

